<section class="section section--no-container" id="about">
	<div class="about">
		<div class="about__img"></div>
		<div class="about__text">
			<h2 class="about__title">Hello, Friend!</h2>
			<p>Tolkien's stories inspired me to bring a little magic to your doorstep, and help you get ready for
				another adventure. I love to create cozy, in-home spa experiences. I arrive at all massage sessions with
				a warm table, Earth's purest essential oils, and more. It would be the highest honor to help you feel
				your best!</p>
			<!-- <a href="#">Get to know me <i class="fa fa-arrow-right"></i></a></p> -->
		</div>
	</div>
</section>