<section class="section section--no-container" id="about">
	<div class="about">
		<div class="about__img"></div>
		<div class="about__text">
			<h2 class="about__title">Nice To Meet You!</h2>
			<p>I have felt the aches and pains of hard work, parenthood, and living an active lifestyle. I've learned
				massage is a necessary part of overall health and wellness. There is no such thing as a standard
				massage. Experience a massage that is adjusted to your every need from someone who love to give back.
			</p>
			<!-- <a href="#">Get to know me <i class="fa fa-arrow-right"></i></a></p> -->
		</div>
	</div>
</section>