<footer class="footer">
	<div class="footer__inner">
		<div class="footer__top">
			<p class="footer__text">You deserve to be well</p>
			<ul class="footer__socials">
				<li class="footer__social-icon">
					<a href="https://www.instagram.com/midearthwellness/" class="fab fa-instagram" target="_blank"></a>
				</li>
				<li class="footer__social-icon">
					<a href="https://www.linkedin.com/in/jess-ortiz/" class="fab fa-linkedin" target="_blank"></a>
				</li>
				<li class="footer__social-icon">
					<a href="mailto:midearthwellness@gmail.com" class="far fa-envelope" target="_blank"></a>
				</li>
			</ul>
		</div>
		<ul class="footer__info">
			<li class="footer__info-item"><strong>Hours</strong><span>by appointment only</span></li>
			<li class="footer__info-item"><strong>Phone</strong><a href="tel:4077978564">(407) 797-8564</a></li>
			<li class="footer__info-item"><strong>Email</strong><a
					href="mailto:midearthwellness@gmail.com">midearthwellness@gmail.com</a></li>
		</ul>
	</div>
</footer>