<header class="header">
	<div class="header__inner">
		<div class="header__spacer"></div>
		<img class="header__img" src="/assets/img/midearth-logo.png" alt="Midearth Wellness Logo" />
		<span class="header__link"><span>Text here to book!</span><a href="sms:+14077978564">(407) 797-8564</a></span>
		<input class="header__hidden-checkbox" type="checkbox" id="nav-toggle">
		<nav class="header__nav">
			<a href="">Home</a>
			<a href="">Services</a>
			<a href="">About</a>
			<a href="">FAQ</a>
		</nav>
		<label class="header__mobile-menu" for="nav-toggle">
			<i class="fa fa-bars"></i>
		</label>
	</div>
</header>