<header class="header">
	<div class="header__inner">
		<div class="header__spacer"></div>
		<img class="header__img" src="/assets/img/midearth-logo.webp" alt="Midearth Wellness Logo" />
		<a class="header__link" href="sms:+14077978564">Text here to book! <span>(407) 797-8564</span></a>
		<input class="header__hidden-checkbox" type="checkbox" id="nav-toggle">
		<nav class="header__nav">
			<a href="#home">Home</a>
			<a href="#about">About</a>
			<a href="#services">Services</a>
			<!-- <a href="">FAQ</a> -->
		</nav>
		<label class="header__mobile-menu" for="nav-toggle">
			<a>{% include svg/bars.svg %}</a>
		</label>
	</div>
</header>