<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{site.title}} | {{ page.title }}</title>
	<meta name="description" content="{{page.description}}" />
	<meta name="keywords"
		content="colorado massage, thai massage, sports massage, reflexology, cranial sacral, trigger point, deep tissue, swedish, mobile massage, cupping, fire cupping, doterra, aromatherapy, cbd, cbd massage, health, alternative healer">
	<link rel="canonical" href="https://www.midearthwellness.com" />

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{" /assets/img/midearth-favicon.jpg" | relative_url }}">
	<link rel="icon" type="image/jpg" sizes="32x32" href="{{" /assets/img/midearth-favicon.jpg" | relative_url }}">
	<link rel="icon" type="image/jpg" sizes="16x16" href="{{" /assets/img/midearth-favicon.jpg" | relative_url }}">

	<!-- Sharing Meta -->
	<meta property="og:title" content="{{site.title}}" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="{{page.description}}">
	<meta property="og:image" content="{{site.socialImage | relative_url}}" />
	<meta property="og:url" content="https://www.midearthwellness.com" />
	<meta property="og:site_name" content="{{site.title}}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image:alt" content="{{site.title}} | {{ page.title }}">

	<link rel="stylesheet" href="{{" /assets/reset.css" | relative_url }}">
	<link rel="stylesheet" href="{{" /assets/styles.css" | relative_url }}">
	<link rel="preload" fetchpriority="high" as="image" href="{{" /assets/img/midearth-nikhil-prasad.webp" |
		relative_url }}" type="image/webp">

	<!-- javascript -->
	<script src="https://kit.fontawesome.com/d3bfb2ecca.js" crossorigin="anonymous" defer></script>

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="preload"
		as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css">
	<noscript>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
			rel="stylesheet" type="text/css">
	</noscript>
</head>